<html>
<center>
<h1>MY ANSIBLE PLAYBOOKS</h1>
<br>

<h2> this running on {{ ansible_os_family }} operating system </h2>
<br>
<h2> this server is running on {{ ansible_hostname }} host name </h2>
<br>
<h2> this current user {{ username }} is my host </h2>

</center>
</html>
